@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --Background-color: #00030C;
    --cor-do-texto-primaria: #FFFFFF;
    --cor-do-texto-pequeno: #C0C0C0;
    --cor-do-botao-principal: #167BF7;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Background-color);
    color: var(--cor-do-texto-primaria);
    font-family: "inter", sans-serif;
}

.principal{

    background-image: URL("../images/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;

}

.principal__conteudo{
    padding-top: 125px;
    padding-left: 54px;
    width: 588px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 100vh; 
    
}

.principal__conteudo__apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__conteudo__titulo{
font-family: 'Inter', sans-serif;
text-align: center;

font-weight: 700;
font-size: 28px;
}

.principal__conteudo__imagem-combo{
    width: 348px;
    height: 100px;

    margin-top: 22px;
    margin-bottom: 54px;

    animation: pulse 2s infinite;
}

/* Animação pulsante */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.principal__conteudo__botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 10px;
}

.container__botao-principal{
    text-decoration: none;
    background-color: var(--cor-do-botao-principal);
    color: var(--cor-do-texto-primaria);
    padding: 16px;
    border-radius: 8px;

}

.container__botao-principal:hover{
    background-color: #126ad5;
}

.container__botao-secundario{
    text-decoration: none;
    border: 1px solid var(--cor-do-texto-primaria);
    color: var(--cor-do-texto-primaria);
    padding: 16px;
    border-radius: 8px;
}

.container__botao-secundario:hover{
    opacity: 0.9;
}

.texto-pequeno{
    color: var(--cor-do-texto-pequeno);
    font-weight: 400;
    font-size: 12px;
}