@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --Background-color: #00030C;
    --cor-do-texto-primaria: #FFFFFF;
    --cor-do-texto-pequeno: #C0C0C0;
    --cor-do-botao-principal: #167BF7;
    --cor-do-botao-hover: #126ad5;
    --cor-do-texto-padrao: #C7C8CA;

    --fonte-principal: "inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--Background-color);
    color: var(--cor-do-texto-primaria);
    font-family: var(--fonte-principal);

}

.principal{

    background-image: URL("../images/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;

}

.principal__conteudo{
    padding-top: 125px;
    padding-left: 84px;
    width: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 100vh; 
    
    display: grid;
    grid-template-columns: 50% 50%;

    text-align: center;
}

.principal__conteudo__apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__conteudo__titulo{
    font-family: 'Inter', sans-serif;
    text-align: center;

    font-weight: 700;
    font-size: 1.75rem;
}

.principal__conteudo__imagem-combo{
    width: 21.75rem;
    height: 6.25rem;

    margin-top: 1.375rem;
    margin-bottom: 3.375rem;

    animation: pulse 2s infinite;
}

/* Animação pulsante */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.principal__conteudo__botoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    gap: 1rem;
    font-weight: 400;
    font-size: 1rem;

    margin-bottom: 10px;
}

.container__botao-principal{
    text-decoration: none;
    background-color: var(--cor-do-botao-principal);
    color: var(--cor-do-texto-primaria);
    padding: 1rem;
    border-radius: 8px;
}

.container__botao-principal:hover{
    background-color: var(--cor-do-botao-hover);
}

.container__botao-secundario{
    text-decoration: none;
    border: 1px solid var(--cor-do-texto-primaria);
    color: var(--cor-do-texto-primaria);
    padding: 1rem;
    border-radius: 8px;
}

.container__botao-secundario:hover{
    opacity: 0.8;
}

.texto-pequeno{
    color: var(--cor-do-texto-pequeno);
    font-weight: 400;
    font-size: 0.75rem;
}

.segunda-secao{
    align-items: center;
    padding: 0 10em;
    height: 70vh;
    
    gap: 2em;
}

.segunda-secao__titulo{
    font-weight: 700;
    font-size: 3rem;
}

.segunda-secao__div-texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 36.75rem;
}

.texto-padrao{
    color: var(--cor-do-texto-padrao);
    font-weight: 400;
    font-size: 1rem;
}

.segundo-botao-principal{
    width: 10.1675rem;
    text-align: center;
}

.dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dispositivos__titulo{
    margin-top: 2em;
}

.dispositivos__lista{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
    text-align: center;
    margin: 2em 0 5em 0;
}

/* RODAPÉ */
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    margin: 6.25rem 7.5rem 6.1875rem 7.5rem;
}

.rodape__logo{
    margin-bottom: 2em;
}

.rodape__ancoras{
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}

.rodape__ancoras__link{
    text-decoration: none;
    color: var(--cor-do-texto-primaria);
    font-weight: 400;
    font-size: 1rem;

}

.rodape__ancoras__link:hover{
    color: var(--cor-do-botao-hover);
}

.rodape__texto{
    color: var(--cor-do-texto-pequeno);
    font-weight: 400;
    font-size: 0.875rem;
}

@media screen and (max-width: 1215px) {
    
    .principal{

        background-image: none;
        
    }

    .container{
        height: 90vh; 
        
        display: flex;
        flex-direction: column;
    
        text-align: center;
        margin: auto;
    }

}